<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Catalog App</title>
</head>
<body>
  <a href="#main-content" class="skip-link" >Skip to Content</a>

  <header>
    <nav>
      <div class="logo">
          <h4>Restoran Apps</h4>
      </div>

      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Faforite</a></li>
          <li><a href="https://github.com/serlyagustin27/notes-apps2">About Us</a></li>
        </ul>

        <div class="menu-toggle" tabindex="0" role="button" aria-label="Toggle Navigation">
          <input type="checkbox">
          <span></span>
          <span></span>
          <span></span>
        </div>
        
 </nav>
  </header>

  <main id="main-content" tabindex="0"> 
    <section class="content">
      <div class="hero">
        <img src="/images/heros/hero-image_4.jpg" alt="Hero Image">
      </div>
      <div class="restaurant-list" id="restaurant-list">
      </div>    
      <div class="restaurant-list" id="restaurant-list">
      </div>
    </section>
  </main>

  <footer>
    <div class="footer-content">
      <p>&copy; <span id="current-year"></span> - Restaurant Catalog App</p>
      <p>by serlyagtn</p>
    </div>
  </footer>
</body>
</html>